{{#section "education"}}
<hr>
<section id="education">
  {{#> header-education }}
    {{> header-icon _title="OPLEIDINGEN" _section="opleidingen" _hdricon=(lookup . '_icon') }}
  {{/header-education}}
  {{#each r.education.history}}
    {{#> body-education }}
    <div>
      <h3>{{#if title}}<em>{{{ title }}}</em>, {{/if}}{{{ institution }}}</h3>
      <span class="tenure">{{dateRange .}}</span>
      {{#if location}}<div class="location">{{location}}</div>{{/if}}
      {{{ summary }}}
      {{> highlights }}
      {{#if curriculum}}<div class="keywords">{{#each curriculum}}<div class="keyword">{{{ . }}}</div>{{/each}}</div>{{/if}}
    </div>
    {{/body-education}}
  {{/each}}
</section>
{{/section}}
